[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==19.10b0"
isort = "*"
flake8 = "*"
gdown = "*"

[packages]
fastapi = "*"
httpie = "*"
uvicorn = "*"
pydantic = "*"
torch = "*"
transformers = "*"

[requires]
python_version = "3.9.7"

[pipenv]
allow_prereleases = true
